package com.bluecc.income.service;

import com.bluecc.hubs.stub.{{ent.name}}Data;
import com.bluecc.hubs.stub.{{ent.name}}ServiceGrpc;
import com.bluecc.hubs.stub.QueryList;
import com.bluecc.income.dao.{{ent.name}}Delegator;
import com.bluecc.income.model.{{ent.name}};
import com.google.common.collect.Maps;
import io.grpc.stub.StreamObserver;

import lombok.extern.slf4j.Slf4j;

import javax.inject.Inject;
import java.util.HashSet;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;
import java.util.stream.Collectors;
import com.bluecc.hubs.fund.ProtoMeta;

@Slf4j
public class {{ent.name}}Rpc extends {{ent.name}}ServiceGrpc.{{ent.name}}ServiceImplBase {
    @Inject
    {{ent.name}}Delegator {{ent.varName}}Delegator;
    @Inject
    ProtoMeta protoMeta;

    @Override
    public void findList(QueryList request, StreamObserver<{{ent.name}}Data> responseObserver) {
        {{ent.varName}}Delegator.process(c -> {

            Set<String> incls = request.getRelationsList().isEmpty()
                    ? protoMeta.getInspectMeta("{{ent.name}}").getValidRelationNames()
                    : new HashSet<>(request.getRelationsList());
            
            log.info("query {{ent.underscore}} and relates: {}", incls);

            {{ent.varName}}Delegator.chainQueryDataList(c, incls, responseObserver);
            responseObserver.onCompleted();

        });
    }
}
