    // #storing-state
    interface Data {}

    @Data
    public static final class {{actor.name}}State implements Data {
        public final ActorRef<{{actor.sink}}> target;
        Message data;

        public {{actor.name}}State processElement(Object element) {
            // ....
            return this;
        }

        public {{actor.name}}State copy(Message data) {
            return new {{actor.name}}State(this.target, data);
        }
        public {{actor.name}}State copy(ActorRef<{{actor.sink}}> target) {
            return new {{actor.name}}State(target, this.data);
        }
    }
