    public interface Event {}

    // general events
    public static final class SetTarget implements Event {
        public final ActorRef<{{sink}}> ref;

        public SetTarget(ActorRef<{{sink}}> ref) {
            this.ref = ref;
        }
    }

    @Data
    @Builder
    public static class Result implements Event {
        String status;
    }

    public enum DefaultStart implements Event {
        INSTANCE
    }

    // transitions
    {% for ev in actor.eventNames %}
    public enum {{ev}} implements Event {
        INSTANCE
    }
    {% endfor %}    

