package com.bluecc.saga.actors;

import akka.actor.typed.ActorRef;
import akka.actor.typed.Behavior;
import akka.actor.typed.javadsl.AbstractBehavior;
import akka.actor.typed.javadsl.Behaviors;
import lombok.Builder;
import lombok.Data;
import lombok.extern.slf4j.Slf4j;

@Slf4j
public class {{source.name}}Actor {
    {{source.eventDecl}}

    // --------------------
    public interface Conductors {
        {% for decl in source.conductorDecls %}
        {{decl}}
        {% endfor %}
    }
}
