    public class {{top.name}}Conductor {

        public static Behavior<Event> create({{top.startEvent}} ev) {
            return Behaviors.setup(ctx -> new {{top.name}}Conductor().{{top.startState}}(ev));
        }
        {% for state in actor.availableStates %}

        private Behavior<Event> {{state|colToVar}}({{actor.getEventSource(state)}} data) {
            {% if actor.hasTransitions(state) -%}
            return Behaviors.receive(Event.class)
                    {%- for trans in actor.getFromTransitions(state) %}
                    .onMessage({{trans.eventName}}.class, message -> {{trans.toHandler}}(message))
                    {%- endfor %}
                    .build();
            {%- else -%}
            // do something ...
            return Behaviors.same();
            {%- endif %}
        }
        {%- endfor %}

    }
