syntax = "proto3";

option java_multiple_files = true;
option java_package = "com.bluecc.hubs.stub";
option java_outer_classname = "TransitionsProto";
option objc_class_prefix = "TSP";

package transitions;

import "routines.proto";

enum MeshTypes{
    DEFAULT_TYPE=0;
    {% for obj in objs %}
    {{obj.constName}} = {{loop.index}};
    {%- endfor %}
}

{% for obj in objs %}
enum {{obj.className}}Event{
    {% for e in obj.transitions.eventSymbols %}
    {{obj.prefix}}_{{e.constName}} = {{loop.index-1}};  // {{e.name}}
    {%- endfor %}
}

enum {{obj.className}}State{
    {% for e in obj.transitions.states %}
{{obj.getStateComments(e)}}
    {{e}} = {{loop.index-1}};
    {% endfor %}
}

service {{obj.className}}Processor{
    {% for event in obj.transitions.eventNames %}
    rpc {{event}}(routines.StateProposal) returns (routines.Response) {}
    {%- endfor %}
}
{% endfor %}

// total: {{objs.size()}}
