package com.bluecc.income.model;

import lombok.*;
import java.io.Serializable;
import java.math.BigDecimal;
import java.sql.Date;
import java.time.*;
import com.google.protobuf.Message;

import com.bluecc.hubs.fund.model.IModel;
import static com.bluecc.hubs.ProtoTypes.*;
import com.bluecc.hubs.stub.{{ent.flatMessageType}};

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{ent.name}} implements IModel, Serializable {
    private static final long serialVersionUID = 1L;

    {% for f in ent.fields -%}
    {{f.javaType}} {{f.name}};
    {% endfor %}

    {{conv_part}}
}
