    // relations
    {% for rel in ent.validRelations %} 
    List<{{rel.relEntityName}}> {{rel.relVarName}}= new ArrayList<>();
    {%- endfor %}

    public {{ent.name}}Delegator.Agent agent(IProc.ProcContext ctx,
                                             {{ent.name}}Delegator delegator){
        return delegator.getAgent(ctx, this.{{ent.pkGetter}}());
    }

    public {{ent.messageType}}.Builder toHeadBuilder() {
        {{ent.messageType}}.Builder builder = {{ent.messageType}}.newBuilder();
        {% for f in ent.messageFields -%}
        if ({{f.name}} != null) {
            builder.{{f.protoSetter}};
        }
        {% endfor %}            
        return builder;
    }
