package com.bluecc.income.model;

import lombok.*;
import java.io.Serializable;
import java.math.BigDecimal;
import java.sql.Date;
import java.time.*;
import java.util.ArrayList;
import java.util.List;

import com.google.protobuf.Message;
import com.google.protobuf.ByteString;

import com.bluecc.hubs.fund.model.IEventModel;
import static com.bluecc.hubs.ProtoTypes.*;
import org.redisson.api.annotation.*;

import com.bluecc.hubs.fund.descriptor.EntityNames;
import com.bluecc.hubs.fund.pubs.MessageObject;

import com.bluecc.hubs.stub.{{ent.flatMessageType}};
{% if ent.headEntity %}
import com.bluecc.hubs.stub.{{ent.messageType}};
import com.bluecc.income.dao.{{ent.name}}Delegator;
import com.bluecc.income.exchange.IProc;
{% endif %}

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@REntity
@MessageObject(value = {{ent.messageType}}.class,
        symbol = EntityNames.{{ent.name}})
public class {{ent.name}} implements IEventModel<{{ent.flatMessageType}}.Builder>, Serializable {
    private static final long serialVersionUID = 1L;

    {% for f in ent.fields -%}
    {{ent.getAnnotation(f)}}{{f.javaType}} {{f.name}};
    {% endfor %}

    {{conv_part}}
    {{head_part}}
}
