package com.bluecc.domain.beans;

import lombok.*;
import java.io.Serializable;
import java.math.BigDecimal;
import java.sql.Date;
import java.time.*;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{ent.name}} implements Serializable {
    private static final long serialVersionUID = 1L;

    {% for f in ent.fields -%}
    {{f.javaType}} {{f.name}};
    {% endfor %}
}
