    
    public {{ent.messageType}}.Builder toHeadBuilder() {
        {{ent.messageType}}.Builder builder = {{ent.messageType}}.newBuilder();
        {% for f in ent.messageFields -%}
        if ({{f.name}} != null) {
            builder.{{f.protoSetter}};
        }
        {% endfor %}            
        return builder;
    }
