package com.bluecc.income.dao;

import com.bluecc.income.procs.AbstractProcs;
import org.jdbi.v3.sqlobject.config.RegisterBeanMapper;
import org.jdbi.v3.sqlobject.customizer.Bind;
import org.jdbi.v3.sqlobject.statement.SqlQuery;

import java.util.List;
import java.util.Set;
import com.bluecc.income.model.*;
import com.bluecc.income.helper.ModelWrapper;

import javax.inject.Inject;
import javax.inject.Provider;

import com.bluecc.hubs.feed.LiveObjects;
import com.bluecc.income.exchange.IProc;

import com.bluecc.hubs.fund.pubs.Action;
import com.bluecc.hubs.fund.model.IModel;
import reactor.core.publisher.Flux;
import java.util.function.Function;
import com.google.protobuf.Message;
import java.util.stream.Collectors;
import com.bluecc.hubs.stub.{{ent.messageType}};

public class {{ent.name}}Delegator extends AbstractProcs{

    @Inject
    Provider<LiveObjects> liveObjectsProvider;

    @RegisterBeanMapper(value = {{ent.name}}.class)
    public interface {{ent.name}}Dao {
        @SqlQuery("select * from {{ent.underscore}}")
        List<{{ent.name}}> list{{ent.name}}();
        @SqlQuery("select * from {{ent.underscore}} where {{ent.underscorePk}}=:id")
        {{ent.name}} get{{ent.name}}(@Bind("id") String id);

        @SqlQuery("select count(*) from {{ent.underscore}}")
        int count{{ent.name}}();
    }

{{agent_source}}
{{query_rels}}
    
}
