DROP TABLE IF EXISTS `{{ent.tableName}}`;
CREATE TABLE {{ent.tableName}} (
    {% for f in ent.fields -%}
    {{f.col}} {{f.fixSqlType}} {% if f.notNull %}NOT NULL{% endif %} COMMENT '{{f.comment}}',
    {% endfor %}
    PRIMARY KEY (`{{ent.pkCol}}`) {% if ent.combine %}, UNIQUE KEY unique_{{ent.tableName}} ({{ent.uniqueCols}}) {% endif %}
) {{engine}};

