// flat-ent: {{ent.title}}
message {{ent.name}}{{suffix}} {
    option (routines.entity_type) = "{{ent.name}}";
    option (routines.keys).keys = "{{ent.underscoreKeys}}";
    option (routines.keys).combine = {{ent.combine}};
    option (routines.flat) = true;
    option (routines.has_table) = {{hasTable}};
    // keys: {{ent.keyNames}}
    {% for f in ent.messageFields -%}
    {%- if digester.isRefField(f.name) %}
    {{f.protoType}} {{f.underscore}} = {{loop.index}} [json_name = "{{f.underscore}}"]; // {{digester.getEntityRef(f.name)}}
    {%- else %}    
    {{f.protoType}} {{f.underscore}} = {{loop.index}} [json_name = "{{f.underscore}}"];
    {%- endif -%}
    {% endfor %}  
}

