// {{ent.title}}
message {{ent.name}}Data {
    option (routines.entity_type) = "{{ent.name}}";
    option (routines.keys).keys = "{{ent.underscoreKeys}}";
    option (routines.keys).combine = {{ent.combine}};
    option (routines.flat) = {{!ent.headEntity}};
    option (routines.has_table) = {{hasTable}};
    // keys: {{ent.keyNames}}
    {% if ent.combine %}string id = 200; {% endif %}
    // fields
    {% for f in ent.messageFields -%}
    {%- if digester.isRefField(f.name) %}
    {{f.protoType}} {{f.underscore}} = {{loop.index}}; // {{digester.getEntityRef(f.name)}}
    {%- else %}    
    {{f.protoType}} {{f.underscore}} = {{loop.index}};
    {%- endif -%}
    {% endfor %}
    {% if ent.headEntity %}
    // relations
    {% for r in ent.relations -%}
    {% if r.hasProtoDef(ent.name) -%}
    {{r.protoDef}} = {{loop.index+ent.messageFieldNumber}}; // ref({{r.name}}): {{r.relFields}}
    {% endif -%}
    {% endfor %}
    {% endif %}    
}

