// flat-ent: {{ent.title}}
message {{ent.name}}FlatData {
    option (routines.entity_type) = "{{ent.name}}";
    // keys: {{ent.keyNames}}
    {% for f in ent.publicFields -%}
    {%- if digester.isRefField(f.name) %}
    {{f.protoType}} {{f.underscore}} = {{loop.index}}; // {{digester.getEntityRef(f.name)}}
    {%- else %}    
    {{f.protoType}} {{f.underscore}} = {{loop.index}};
    {%- endif -%}
    {% endfor %}  
}

