syntax = "proto3";

option java_multiple_files = true;
option java_package = "com.bluecc.hubs.stub";
option java_outer_classname = "{{className}}";
option objc_class_prefix = "{{classPrefix}}";

package domain;

import "google/protobuf/timestamp.proto";
// import "date.proto";
// import "timeofday.proto";
import "routines.proto";
// import "condition.proto";


