// {{ent.title}}
message {{ent.name}}Data {
    option (routines.entity_type) = "{{ent.name}}";
    // keys: {{ent.keyNames}}

    // fields
    {% for f in ent.publicFields -%}
    {%- if digester.isRefField(f.name) %}
    routines.TypeSymbol {{f.underscore}} = {{loop.index}}; // {{digester.getEntityRef(f.name)}}
    {%- else %}    
    {{f.protoType}} {{f.underscore}} = {{loop.index}};
    {%- endif -%}
    {% endfor %}
    {% if ent.headEntity %}
    // relations
    {% for r in ent.relations -%}
    {% if r.hasProtoDef(ent.name) -%}
    {{r.protoDef}} = {{loop.index+ent.publicFieldNumber}}; // ref: {{r.relFields}}
    {% endif -%}
    {% endfor %}
    {% endif %}
}

