    public static {{obj.meta.flatMessageType}} {{obj.constName}}() {
        return {{obj.meta.flatMessageType}}.newBuilder()
            {% for f in obj.fieldList -%}
            .{{f.meta.setter}}({{f.meta.valuePart(f.value)}})
            {% endfor -%}
            .build();
    }

