package com.bluecc.gentool.descriptor;

import lombok.Getter;

import com.google.common.collect.Lists;
import java.util.Arrays;
import java.util.List;

public enum EntityNames implements INameSymbol{

    {% for ent in ents -%}
    {{ent.name}}("{{ent.name}}", "{{ent.title}}"),
    {% endfor %}
    ;

    @Getter(onMethod_ = {@Override})
    public final String entityName;
    @Getter(onMethod_ = {@Override})
    public final String description;

    @Getter
    private final List<String> fields= Lists.newArrayList();
    @Getter
    private final List<String> includes=Lists.newArrayList();
    @Getter
    private final List<String> excludes=Lists.newArrayList();

    private EntityNames(String entityName, String description){
        this.entityName=entityName;
        this.description=description;
    }

    public EntityNames fields(String...flds){
        this.fields.addAll(Arrays.asList(flds));
        return this;
    }

    public EntityNames includes(String...flds){
        this.includes.addAll(Arrays.asList(flds));
        return this;
    }
    
    public EntityNames excludes(String...flds){
        this.excludes.addAll(Arrays.asList(flds));
        return this;
    }
}


